<mat-card class="centered-card">
  <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img src="assets/images/Fish.jpg" alt="" class="fixed-size-image"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/Tiger.jpg" alt="" class="fixed-size-image"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/Dog.jpg" alt="" class="fixed-size-image"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/Bird1.jpg" alt="" class="fixed-size-image"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/Horse1.jpg" alt="" class="fixed-size-image"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/Rabbit.jpg" alt="" class="fixed-size-image"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/Hamster.jpg" alt="" class="fixed-size-image"></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/Ferret.jpg" alt="" class="fixed-size-image"></mat-grid-tile>
      </mat-grid-list>
  </mat-card-content>
</mat-card>
